<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/main.css">
    <title>footer</title>
</head>
<body class="d-flex flex-column min-vh-100">
    
        <footer class="mt-auto bg-dark text-white py-3">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2  text-white">Home</a></li>
            <li class="nav-item"><a href="/postCreations" class="nav-link px-2 text-white">Post</a></li>
            <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Pricing</a></li> -->
            <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQs</a></li> -->
            <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li> -->
          </ul>
          <p class="text-center text-white">© 2024 Company, Inc</p>
        </footer>
      
</body>
</html>


